{% extends "base.html" %}

{% block title %}
Rust博客星球 - Rust语言中文社区
{% endblock title %}

{% block content %}
<style>
    span.delete {
        color: red;
        cursor: pointer;
    }
    span.edit {
        color: green;
        cursor: pointer;
    }

    .body-content {
        padding: 10px;
    }
    .body-content .blogs {
        border: gray 1px solid;
        padding: 4px;
        min-height: 24px;
        line-height: 24px;
        text-align: center;
        margin-top: 5px;
    }

    .body-content .border {
        border: gray 1px solid;
        margin-top: 15px;
    }

    .body-content .padding-square {
        padding: 15px;
    }

    .body-content .padding-rectangle {
        padding: 10px 15px;
    }

    .body-content .padding-samll-rectangle {
        padding: 5px 10px;
    }

    .body-content .margin-top {
        margin-top: 15px;
    }

    .body-content .margin-bottom {
        margin-bottom: 15px;
    }

    .body-content .topline {
        border-top: gray 1px solid;
    }

    .body-content .underline {
        border-bottom: gray 1px solid;
    }

    .body-content .nodot {
        list-style: none;
    }

    .body-content .paging {
        display: inline-block;
        border: gray 1px solid;
        margin: 0;
        width: 22px;
        height: 22px;
        text-align: center;
        vertical-align: middle;
    }

    .body-content * {
        box-sizing: border-box;
    }

    .body-content a {
        text-decoration-line: none;
    }

    .body-content a:hover {
        color: cornflowerblue;
        cursor: pointer;
    }

    .body-content .tags {
        color: #666;
        font-size: 14px;
    }
    
    .body-content .createdTime {
        color: #444;
        font-size: 14px;
    }

    .body-content .input {
        width: 500px;
        height: 30px;
        font-size: 18px;
    }

    .body-content textarea {
        width: 100%;
        min-height: 300px;
        font-size: 15px;
    }
</style>



<div class="body-content">
    <div class="blogs">
        <p>Rust博客星球，我们的家园</p>
    </div>

    <div class="border">

        <div class="detail padding-square">
            <div class="title border">
                <div class="detail-body">
                    {% if articles | length == 0 %}
                        <p class="padding-rectangle">这里还没有内容哦..</p>
                    {% else %}
                        <ul class="nodot items">
                            {% for article in articles %}
                                <li class="item padding-samll-rectangle {% if not loop.last %} underline {% else %} last {% endif %}">
                                    <a href="/article/{{ article.id }}">{{ article.title }}</a>
                                    <span class="right">
                                        <span class="tags">{{ article.tags }}</span>
                                        <span class="createdTimePlaceholder" style="display:none;">{{ article.created_time }}</span>
                                        <span class="createdTime">{{ article.created_time }}</span>
                                        {% if user %}
                                            {% if user.role <= 1 or user.id == article.author_id %}
                                            <span class="delete" data-id="{{ article.id }}"
                                                  data-author-id="{{ article.author_id }}"
                                                  data-user-id="{{ user.id }}">删除</span>
                                            {% endif %}
                                            {% if user.id == article.author_id %}
                                            <span class="edit" data-id="{{ article.id }}"
                                                  data-author-id="{{ article.author_id }}"
                                                  data-user-id="{{ user.id }}">编辑</span>
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                    <div style="clear:both;"></div>
                                </li>
                            {% endfor %}

                            <li class="item padding-samll-rectangle underline template" data-index="" style="display: none">
                                <a href=""></a>
                                <span class="right">
                                    <span class="tags"></span>
                                    <span class="createdTime"></span>
                                </span>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div style="width: 100%; height: 25px;" class="padding-square margin-bottom">
            <div class="paginator right">
                {% for _ in range(end=max_page) %}
                    {% if loop.index == page %}
                    <a data-page="{{ loop.index }}">{{ loop.index }}</a>
                    {% else %}
                    <a class="paging" data-page="{{ loop.index }}">{{ loop.index }}</a>
                    {% endif %}
                {% endfor %}
                共 {{ total }} 篇, 共 {{ max_page }} 页
            </div>
        </div>


    </div>
</div>

<script type="application/javascript">
    "use strict";

    var mbody = $('.detail-body');
    mbody.find('li').each(function (i) {
        var that = $(this);
        that.find('.createdTime').text(
            new Date(that.find('.createdTimePlaceholder').text()).LocalFormat()
        );
    });


    // load new page
    function loadPage(page) {
        if (PAGE.page === page) return;

        $.getJSON("/api/v1/blogs/paging?" + "&page=" + page, function (response) {
            $("li.item").not("li.template").remove();

            for(var i=0, l=response.articles.length; i < l; i++) {
                var article = response.articles[i];
                updateItem(i, article, i === l-1);
            }
            activePageBtn(page);
        });
    }

    // update one article DOM
    function updateItem(index, content, isLast) {
        // clone template
        var $newNode = $("li.template").clone();
        $newNode.removeClass("template");
        $newNode.show();

        // put data in
        $newNode.data("index", index);
        $newNode.find("a")
            .attr("href", "/article/"+content.id)
            .text(content.title);
        $newNode.find(".tags")
            .text(content.tags);
        $newNode.find(".createdTime")
            .text(new Date(content.created_time).LocalFormat());

        if (isLast) {
            $newNode.removeClass("underline");
        }
        $newNode.appendTo($("ul.items"));
    }

    // change activated page button
    function activePageBtn(page) {
        // transform pagination
        $(".paginator a[data-page='"+PAGE.page+"']").addClass("paging");
        $(".paging[data-page='"+page+"']").removeClass("paging");
        PAGE.update(page);
    }

    $(function () {
            // page button click event
            $(".paginator a").on("click", function() {
                loadPage($(this).data("page"));
            });
               
            // delete article
            $("li span.delete").on("click", function() {
                var $this = $(this);
                if (!confirm("确认删除？")) return;
                deleteArticle(
                    $this.data("id"),
                    $this.data("author-id"),
                    function () {
                        alert("删除成功！");
                        $this.closest('li').remove();
                    }
                );
            });

            // edit article
            $("li span.edit").on("click", function () {
                var uri = '/user/article/edit?id=' + $(this).data("id");
                window.location.href = uri;
            });

            // new article
            $("button.new-article").on("click", function () {
                var uri = '/user/article/edit?sectionID=' + getSectionID() + '&stype=' + getStype();
                window.location.href = uri;
            });

    });
</script>
{% endblock content %}
