{% extends "base.html" %}

{% block title %}
{{ res.title }} - Rust语言中文社区
{% endblock title %}

{% block content %}
<!--<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css">-->
<link rel="stylesheet" href="/css/gruvbox-light.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
<style>
    .body-content {
        padding: 10px;
    }
    .body-content .notice {
        border: gray 1px solid;
        padding: 4px;
        min-height: 50px;
        text-align: center;
        margin-top: 5px;
    }

    .body-content .border {
        border: gray 1px solid;
        margin-top: 15px;
    }

    .body-content .padding-square {
        padding: 15px;
    }

    .body-content .padding-rectangle {
        padding: 10px 15px;
    }

    .body-content .margin-top {
        margin-top: 15px;
    }

    .body-content .margin-bottom {
        margin-bottom: 15px;
    }

    .body-content .underline {
        border-bottom: gray 1px solid;
    }

    .body-content .nodot {
        list-style: none;
    }

    .body-content .paging {
        display: inline-block;
        border: gray 1px solid;
        margin: 0;
        width: 22px;
        height: 22px;
        text-align: center;
        vertical-align: middle;
    }

    .body-content * {
        box-sizing: border-box;
    }

    .detail-body pre {
        background: #eee;
        padding: 0px;
        border-radius: 6px;
        font-family: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", Inconsolata, monospace;
        white-space: pre-wrap;
        margin: auto 15%;
    }

    .detail-body pre code {
        border-radius: 4px;
    }

    .detail-body h1,
    .detail-body h2,
    .detail-body h3,
    .detail-body h4,
    .detail-body h5
    {
        background: #ddd;
        padding: 10px 20px;
    }

    .detail-body ul {
        margin: 15px 0 15px 30px;
    }
</style>



<div class="body-content">
    <div class="notice">
        <p>论坛说明及公告</p>
    </div>

    <div class="border">
        <div class="underline padding-rectangle">
            <div>
                <h3>{{ res.title }}</h3>
                <button class="right">发表新回复</button>
            </div>
            <p>
                <a href="/user/{{ manager.id }}">{{ manager.nickname }}</a>
                发表于 {{ res.created_time }}
            </p>
            <p>
                <small>标签：{{ res.tags }}</small>
            </p>
        </div>
        <div class="detail padding-square">
            <div class="title border">
                <div class="detail-body padding-square">
                    {{ res.content | safe }}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    hljs.initHighlightingOnLoad();
</script>
{% endblock content %}
