{% extends "base.html" %}

{% block title %}
{{ res.title }} - Rust语言中文社区
{% endblock title %}

{% block content %}
<style>
    .body-content {
        padding: 10px;
    }
    .body-content .notice {
        border: gray 1px solid;
        padding: 4px;
        min-height: 50px;
        text-align: center;
        margin-top: 5px;
    }

    .body-content .border {
        border: gray 1px solid;
        margin-top: 15px;
    }

    .body-content .padding-square {
        padding: 15px;
    }

    .body-content .padding-rectangle {
        padding: 10px 15px;
    }

    .body-content .margin-top {
        margin-top: 15px;
    }

    .body-content .margin-bottom {
        margin-bottom: 15px;
    }

    .body-content .underline {
        border-bottom: gray 1px solid;
    }

    .body-content .nodot {
        list-style: none;
    }

    .body-content .paging {
        display: inline-block;
        border: gray 1px solid;
        margin: 0;
        width: 22px;
        height: 22px;
        text-align: center;
        vertical-align: middle;
    }

    .body-content * {
        box-sizing: border-box;
    }
</style>



<div class="body-content">
    <div class="notice">
        <p>论坛说明及公告</p>
    </div>

    <div class="border">
        <div class="underline padding-rectangle">
            <div>
                <h3>{{ res.title }}</h3>
                <button class="right">发表新回复</button>
            </div>
            <p>
                <a href="/user/{{ manager.id }}">{{ manager.nickname }}</a>
                发表于 {{ res.created_time }}
            </p>
            <p>
                <small>标签：{{ res.tags }}</small>
            </p>
        </div>
        <div class="detail padding-square">
            <div class="title border">
                <div class="detail-body padding-square">
                    {{ res.content | safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
