{% extends "base.html" %}

{% block title %}
{{ res.title }} - Rust语言中文社区
{% endblock title %}

{% block content %}
<style>
    .body-content {
        padding: 10px;
    }
    .body-content .notice {
        border: gray 1px solid;
        padding: 4px;
        min-height: 50px;
        text-align: center;
        margin-top: 5px;
    }

    .body-content .border {
        border: gray 1px solid;
        margin-top: 10px;
    }

    .body-content .padding-square {
        padding: 15px;
    }

    .body-content .padding-rectangle {
        padding: 10px 15px;
    }

    .body-content .padding-small-rectangle {
        padding: 5px 10px;
    }

    .body-content .margin-top {
        margin-top: 15px;
    }

    .body-content .margin-bottom {
        margin-bottom: 15px;
    }

    .body-content .topline {
        border-top: gray 1px solid;
    }

    .body-content .underline {
        border-bottom: gray 1px solid;
    }

    .body-content .nodot {
        list-style: none;
    }

    .body-content .paging {
        display: inline-block;
        border: gray 1px solid;
        margin: 0;
        width: 22px;
        height: 22px;
        text-align: center;
        vertical-align: middle;
    }

    .body-content * {
        box-sizing: border-box;
    }

    .body-content a {
        text-decoration-line: none;
    }

    .body-content a:hover {
        color: cornflowerblue;
        cursor: pointer;
    }

    .body-content .tags {
        color: #666;
        font-size: 14px;
    }
    
    .body-content .createdTime {
        color: #444;
        font-size: 14px;
    }

    .body-content .input {
        min-width: 280px;
        height: 30px;
        font-size: 18px;
        width: 60%;
    }

    .body-content textarea {
        width: 100%;
        min-width: 280px;
        min-height: 400px;
        font-size: 15px;
    }

    span.delete {
        color: red;
        cursor: pointer;
    }
    span.edit {
        color: green;
        cursor: pointer;
    }
</style>

<div class="meta hide"
     {% if user %}
     data-role="{{ user.role }}"
     data-user-id="{{ user.id }}"
     {% endif %}
></div>

<div class="body-content">
    <div class="border">
        <div class="underline padding-rectangle">
            <div>
                <h3><span id="section_id" data-id={{ res.id }}
                    onclick="javascript: window.location.reload()"
                    title="刷新"
                    style="cursor: pointer;"
                >{{ res.title }}</span></h3>
                {% if manager %}
                <!--
                <small>{% if res.stype == 0 %}管理员{% else %}作者{% endif %}：<a href="/user/{{ manager.id }}">{{ manager.nickname }}</a></small>
                -->
                {% endif %}
                {% if user %}
                <button class="right new-article">发表新{% if res.stype == 0 %}帖子{% else %}文章{% endif %}</button>
                {% endif %}
            </div>
            <p>
                <small>{{ res.description }}</small>
            </p>
        </div>
        <div class="detail padding-square">
            <div class="title border">
                <div class="detail-body">
                    {% if articles | length == 0 %}
                        <p class="padding-rectangle">这里还没有内容哦..</p>
                    {% else %}
                        <ul class="nodot items">
                            {% for article in articles %}
                                <li class="item padding-small-rectangle {% if not loop.last %} underline {% else %} last {% endif %}"
                                    data-index="{{ loop.index0 }}">
                                    <a href="/article/{{ article.id }}">{{ article.title }}</a>
                                    <span class="right">
                                        <span class="tags">{{ article.tags }}</span>
                                        <span class="author">{{ article.author_name }}</span> 发表于
                                        <span class="createdTimePlaceholder" style="display: none">{{ article.created_time }}</span>
                                        <span class="createdTime"></span>
                                        {% if user %}
                                            {% if user.role <= 1 or user.id == article.author_id %}
                                            <span class="delete" data-id="{{ article.id }}"
                                                  data-author-id="{{ article.author_id }}"
                                                  data-user-id="{{ user.id }}">删除</span>
                                            {% endif %}
                                            {% if user.id == article.author_id %}
                                            <span class="edit" data-id="{{ article.id }}"
                                                  data-author-id="{{ article.author_id }}"
                                                  data-user-id="{{ user.id }}">编辑</span>
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                    <div style="clear:both;"></div>
                                </li>
                            {% endfor %}

                            <li class="item padding-small-rectangle underline template" data-index="" style="display: none">
                                <a href=""></a>
                                <span class="right">
                                    <span class="tags"></span>
                                    <span class="author"></span> 发表于
                                    <span class="createdTimePlaceholder" style="display: none"></span>
                                    <span class="createdTime"></span>
                                    <span class="delete hide"
                                          data-id=""
                                          data-author-id=""
                                          data-user-id="">删除</span>
                                    <span class="edit hide"
                                          data-id=""
                                          data-author-id=""
                                          data-user-id="">编辑</span>
                                </span>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div style="width: 100%; height: 25px;" class="padding-square margin-bottom">
            <div class="paginator right">
                {% for _ in range(end=max_page) %}
                    {% if loop.index == page %}
                    <a data-page="{{ loop.index }}">{{ loop.index }}</a>
                    {% else %}
                    <a class="paging" data-page="{{ loop.index }}">{{ loop.index }}</a>
                    {% endif %}
                {% endfor %}
                共 {{ total }} 篇, 共 {{ max_page }} 页
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    "use strict";
    // load new page
    function loadPage(sectionID, page) {
        if (PAGE.page === page) return;

        $.getJSON("/api/v1/article/paging?id=" + sectionID + "&page=" + page, function (response) {
            $("li.item").not("li.template").remove();

            for(var i=0, l=response.articles.length; i < l; i++) {
                var article = response.articles[i];
                updateItem(i, article, i === l-1);
            }
            activePageBtn(page);
            replaceTime();
            addListeners();
        });
    }

    // delete article
    function deleteArticle(articleID, authorID, success) {
        $.ajax({
            type: "POST",
            url: "/api/v1/article/delete",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            data: JSON.stringify({
                article_id: articleID,
                user_id: authorID
            }),
            success: function (response) {
                if (response.status === true) {
                    success();
                } else {
                    alert("删除失败");
                }
            }
        });
    }

    // update one article DOM
    function updateItem(index, content, isLast) {
        // clone template
        var $newNode = $("li.template").clone();
        $newNode.removeClass("template");
        $newNode.show();

        // put data in
        $newNode.data("index", index);
        $newNode.find("a")
            .attr("href", "/article/"+content.id)
            .text(content.title);
        $newNode.find(".tags")
            .text(content.tags);
        $newNode.find(".author")
            .text(content.author_name);
        $newNode.find(".createdTimePlaceholder")
            .text(content.created_time);

        var $meta = $(".meta");
        var userID = $meta.data("user-id");
        var role = $meta.data("role");
        if (userID !== undefined) {
            if (Number(role) <= 1 || userID === content.author_id) {
                $newNode.find(".delete")
                    .data("user-id", userID)
                    .data("id", content.id)
                    .data("author-id", content.author_id)
                    .removeClass("hide");
            }

            if (userID === content.author_id) {
                $newNode.find(".edit")
                    .data("user-id", userID)
                    .data("id", content.id)
                    .data("author-id", content.author_id)
                    .removeClass("hide");
            }
        }

        if (isLast) {
            $newNode.removeClass("underline");
        }
        $newNode.appendTo($("ul.items"));
    }

    // change activated page button
    function activePageBtn(page) {
        // transform pagination
        $(".paginator a[data-page='"+PAGE.page+"']").addClass("paging");
        $(".paging[data-page='"+page+"']").removeClass("paging");
        PAGE.update(page);
    }

    function getSectionID() {
      return $("#section_id").data("id");
    }

    function getStype() {
        if (window.location.pathname.split("/")[1] === "blog") {
            return 1
        } else {
            return 0
        }
    }

    function replaceTime() {
        var mbody = $('.detail-body');
        mbody.find('li').each(function (i) {
            var that = $(this);
            that.find('.createdTime').text(
                new Date(that.find('.createdTimePlaceholder').text()).LocalFormat()
            );
        });
    }

    function addListeners() {
        // delete article
        $("li span.delete").on("click", function() {
            var $this = $(this);
            if (!confirm("确认删除？")) return;
            deleteArticle(
                $this.data("id"),
                $this.data("author-id"),
                function () {
                    alert("删除成功！");
                    $this.closest('li').remove();
                }
            );
        });

        // edit article
        $("li span.edit").on("click", function () {
            var uri = '/user/article/edit?id=' + $(this).data("id");
            window.location.href = uri;
        });
    }

    $(function () {
            replaceTime();
            addListeners();

            // page button click event
            $(".paginator a").on("click", function() {
                loadPage(getSectionID(), $(this).data("page"));
            });

            // new article
            $("button.new-article").on("click", function () {
                var uri = '/user/article/edit?sectionID=' + getSectionID() + '&stype=' + getStype();
                window.location.href = uri;
            });
        }
    );
</script>
{% endblock content %}
