{% extends "base.html" %}

{% block title %}
{{ res.title }} - Rust语言中文社区
{% endblock title %}

{% block content %}
<style>
    .body-content {
        padding: 10px;
    }
    .body-content .notice {
        border: gray 1px solid;
        padding: 4px;
        min-height: 50px;
        text-align: center;
        margin-top: 5px;
    }

    .body-content .border {
        border: gray 1px solid;
        margin-top: 15px;
    }

    .body-content .padding-square {
        padding: 15px;
    }

    .body-content .padding-rectangle {
        padding: 10px 15px;
    }

    .body-content .padding-samll-rectangle {
        padding: 5px 10px;
    }

    .body-content .margin-top {
        margin-top: 15px;
    }

    .body-content .margin-bottom {
        margin-bottom: 15px;
    }

    .body-content .underline {
        border-bottom: gray 1px solid;
    }

    .body-content .nodot {
        list-style: none;
    }

    .body-content .paging {
        display: inline-block;
        border: gray 1px solid;
        margin: 0;
        width: 22px;
        height: 22px;
        text-align: center;
        vertical-align: middle;
    }

    .body-content * {
        box-sizing: border-box;
    }

    .body-content a {
        text-decoration-line: none;
    }

    .body-content a:hover {
        color: cornflowerblue;
        cursor: pointer;
    }

    .body-content .tags {
        color: gray;
    }
</style>



<div class="body-content">
    <div class="notice">
        <p>论坛说明及公告</p>
    </div>

    <div class="border">
        <div class="underline padding-rectangle">
            <div>
                <h3>{{ res.title }}</h3>
                <small>管理员：<a href="/user/{{ manager.id }}">{{ manager.nickname }}</a></small>
                <button class="right">发表新回复</button>
            </div>
            <p>
                <small>{{ res.description }}</small>
            </p>
        </div>
        <div class="detail padding-square">
            <div class="title border">
                <div class="detail-body">
                    {% if articles | length == 0 %}
                        <p>这里还没有内容哦..</p>
                    {% else %}
                        <ul class="nodot">
                            {% for article in articles %}
                                {% if not loop.last %}
                                <li class="underline padding-samll-rectangle">
                                    <a href="/article/{{ article.id }}">{{ article.title }}</a>
                                    <span class="right">{{ article.created_time }}</span>
                                </li>
                                {% else %}
                                <li class="padding-samll-rectangle">
                                    <a href="/article/{{ article.id }}">{{ article.title }}</a>
                                    <span class="right">
                                        <span class="tags">{{ article.tags }}</span>
                                        <span class="createdTime">{{ article.created_time }}</span>
                                    </span>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div style="width: 100%; height: 25px;" class="padding-square margin-bottom">
            <div class="paginator right">
                {% for _ in range(end=max_page) %}
                    {% if loop.index == page %}
                    <strong>{{ loop.index }}</strong>
                    {% else %}
                    <a class="paging" data-page="{{ loop.index }}">{{ loop.index }}</a>
                    {% endif %}
                {% endfor %}
                共 {{ total }} 篇, 共 {{ max_page }} 页
            </div>
        </div>
    </div>
</div>
{% endblock content %}
