<style>
.footer {
    border-top: gray 1px solid;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}
</style>

<div class="footer">
    <div class="site-desc">
        <p class="links">
            <a href="https://wiki.rust-china.org/">Rust 中文Wiki</a> &nbsp;&nbsp;&nbsp;
            <a href="https://github.com/rustcc/forustm">Forustm 项目地址</a> &nbsp;&nbsp;&nbsp;
            <span>Rust QQ群：303838735</span>
        </p>
        <p>©2018 Rust.cc 版权所有</p>
    </div>
</div>

<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b9a6681a351077586b795305c383771b";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>