<style>
.header {
    height: 40px;
    border-bottom: gray 1px solid;
    padding: 0 10px;
}

.header .left {
    line-height: 40px;
    float: left;
}

.header .right {
    line-height: 40px;
    float: right;
}
</style>

<div class="header">
    <div class="logo left">
        <img src=""/>
        <span>Rust语言中文社区</span> 
    </div>
    <div class="userinfo right">
        <span class="userinfo-text">Mike Tang</span>
        <div class="userinfo-popmenu"></div>
    </div>
    <div style="clear:both;"></div>
</div>

