<style>
.header {
    height: 40px;
    border-bottom: gray 1px solid;
    padding: 0 10px;
}
.header .logo img {
    width: 40px;
    float: left;
}
.header .logo .logo-title {
    float: left;
}
.header .left {
    line-height: 40px;
    float: left;
}
.header .right {
    line-height: 40px;
    float: right;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.userinfo-text {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.userinfo-text:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.userinfo-text:hover .dropbtn {
    background-color: #3e8e41;
}
</style>

<div class="header">
    <div class="logo left">
        <a href="/"><img src="/rust-logo.svg"/></a>
        <div class="logo-title">Rust语言中文社区</div>
        <div style="clear:both;"></div>
    </div>

    <div class="userinfo right">
      {% if user %}
        <div class="userinfo-text">
          <a class="dropbtn" href="#">{{ user.nickname }}</a>
          <div class="dropdown-content">
            <a href="/home">个人主页</a>
            <a id="sign_out" href="/api/v1/user/sign_out">退出</a>
          </div>
        </div>
        {% else %}
            <span class="userinfo-text"><a href="/login">登录</a></span>

        {% endif %}
    </div>
    <div style="clear:both;"></div>
</div>
<script type="application/javascript">
$('#sign_out a').click(function(event) {
    event.preventDefault();

    $.ajax({
        url: $(this).attr('href'),
        type: "get",
        success: function (res) {
            if (res.status) {
                window.location = "/"
            } else {
                console.log("sign_out error");
            }
        }
    })
    return false; // for good measure
});
</script>
