{% extends "base.html" %}

{% block title %}
Rust语言中文社区-首页
{% endblock title %}

{% block content %}
<style>
.body-content {
    padding: 10px;
}
.body-content .notice {
    border: gray 1px solid;
    padding: 4px;
    min-height: 50px;
    text-align: center;
    margin-top: 5px;
}

.body-content .planet-space {
    border: gray 1px solid;
    padding-bottom: 4px;
    height: 108px;
    text-align: center;
    margin-top: 15px;
}

.body-content .planet-space .planet-space-head {
    border-bottom: gray 1px solid;
    height: 24px;
}

.body-content .category-section {
    margin-top: 15px;
}

.one-section {
    width: 30%;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: gray 1px solid;
    height: 104px;
    float: left;
    min-width: 200px;
}

.one-section .one-section-head {
    height: 24px;
    border-bottom: gray 1px solid;
}

.one-section .one-section-container {
    padding: 12px 0px;
}

.one-section .one-section-container ul li {
    list-style-type: none;
}

.body-content .incubation-area .incubation-area-container {
    margin-top: 15px;
}

.body-content .incubation-area .incubation-area-head {
    height: 24px;
    border: gray 1px solid;
    text-align: center;
}
</style>



<div class="body-content">
    <div class="notice">
      {% if title and desc %}
        <p>{{ title }}</p>
        <p>{{ desc }}</p>
      {% endif %}
    </div>
    <div class="planet-space">
        <div class="planet-space-head">
          {% if articles | length == 0 %}
              <p class="padding-rectangle">这里还没有内容哦..</p>
          {% else %}
            <ul class="nodot items">
              {% for article in articles %}
                {% if not loop.last %}
                <li class="item padding-samll-rectangle underline" data-index="{{ loop.index0 }}">
                  <a href="/article/{{ article.id }}">{{ article.title }}</a>
                  <span class="right">
                      <span class="tags">{{ article.tags }}</span>
                      <span class="createdTime">{{ article.created_time }}</span>
                  </span>
                </li>
                {% else %}
                <li class="item padding-samll-rectangle last" data-index="{{ loop.index0 }}">
                  <a href="/article/{{ article.id }}">{{ article.title }}</a>
                  <span class="right">
                      <span class="tags">{{ article.tags }}</span>
                      <span class="createdTime">{{ article.created_time }}</span>
                  </span>
                </li>
              {% endif %}
              {% endfor %}
            </ul>
            <a href = "/blogs">查看更多</a>
          {% endif %}
        </div>
        <div class="planet-space-container">
            <ul>

            </ul>
        </div>
    </div>
    <div class="category-section">
        <div class="one-section">
            <div class="one-section-head">
                综合讨论区
            </div>
            <div class="one-section-container">
                <ul>
                    <li><a href="">Rust排名上升到43</a></li>
                    <li><a href="">Rust排名上升到43</a></li>
                    <li><a href="">Rust排名上升到43</a></li>
                </ul>
            </div>
        </div>
        <!-- Can be duplicated here -->
        <div class="one-section">
            <div class="one-section-head">
                Rust问答
            </div>
            <div class="one-section-container">
                <ul>
                    <li><a href="">Rust排名上升到43</a></li>
                    <li><a href="">Rust排名上升到43</a></li>
                    <li><a href="">Rust排名上升到43</a></li>
                </ul>
            </div>
        </div>
        <div class="one-section">
            <div class="one-section-head">
                Rust聚合
            </div>
            <div class="one-section-container">
                <ul>
                    <li><a href="">Rust排名上升到43</a></li>
                    <li><a href="">Rust排名上升到43</a></li>
                    <li><a href="">Rust排名上升到43</a></li>
                </ul>
            </div>
        </div>
        <div class="one-section">
            <div class="one-section-head">
                Rust招聘
            </div>
            <div class="one-section-container">
                <ul>
                    <li><a href="">Rust排名上升到43</a></li>
                    <li><a href="">Rust排名上升到43</a></li>
                    <li><a href="">Rust排名上升到43</a></li>
                </ul>
            </div>
        </div>
        <div class="one-section">
            <div class="one-section-head">
                Rust活动
            </div>
            <div class="one-section-container">
                <ul>
                    <li><a href="">Rust排名上升到43</a></li>
                    <li><a href="">Rust排名上升到43</a></li>
                    <li><a href="">Rust排名上升到43</a></li>
                </ul>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="incubation-area">
        <div class="incubation-area-head">
            <p>Rust项目孵化器</p>
        </div>
        <div class="incubation-area-container">
            <div class="one-section">
                <div class="one-section-head">
                    Sapper
                </div>
                <div class="one-section-container">
                    <ul>
                        <li><a href="">Rust排名上升到43</a></li>
                        <li><a href="">Rust排名上升到43</a></li>
                        <li><a href="">Rust排名上升到43</a></li>
                    </ul>
                </div>
            </div>
            <!-- Can be duplicated here -->
            <div class="one-section">
                <div class="one-section-head">
                    Wasmui
                </div>
                <div class="one-section-container">
                    <ul>
                        <li><a href="">Rust排名上升到43</a></li>
                        <li><a href="">Rust排名上升到43</a></li>
                        <li><a href="">Rust排名上升到43</a></li>
                    </ul>
                </div>
            </div>
            <div class="one-section">
                <div class="one-section-head">
                    Coroutine
                </div>
                <div class="one-section-container">
                    <ul>
                        <li><a href="">Rust排名上升到43</a></li>
                        <li><a href="">Rust排名上升到43</a></li>
                        <li><a href="">Rust排名上升到43</a></li>
                    </ul>
                </div>
            </div>
            <div class="one-section">
                <div class="one-section-head">
                    Shadowsocks-rs
                </div>
                <div class="one-section-container">
                    <ul>
                        <li><a href="">Rust排名上升到43</a></li>
                        <li><a href="">Rust排名上升到43</a></li>
                        <li><a href="">Rust排名上升到43</a></li>
                    </ul>
                </div>
            </div>
            <div class="one-section">
                <div class="one-section-head">
                    Pencil
                </div>
                <div class="one-section-container">
                    <ul>
                        <li><a href="">Rust排名上升到43</a></li>
                        <li><a href="">Rust排名上升到43</a></li>
                        <li><a href="">Rust排名上升到43</a></li>
                    </ul>
                </div>
            </div>
            <div class="one-section">
                <div class="one-section-head">
                    RustPrimer
                </div>
                <div class="one-section-container">
                    <ul>
                        <li><a href="">Rust排名上升到43</a></li>
                        <li><a href="">Rust排名上升到43</a></li>
                        <li><a href="">Rust排名上升到43</a></li>
                    </ul>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
{% endblock content %}
