{% extends "base.html" %}

{% block title %}
Rust语言中文社区-首页
{% endblock title %}

{% block content %}
<div class="body-content">
    <div class="notice">
        <p>论坛说明及公告</p>
    </div>
    <div class="planet-space">
        <div class="planet-space-head">
            Rust星球
        </div>
        <div class="planet-space-container">
            <ul>
                
            </ul>
        </div>
    </div>
    <div class="category-section">
        <div class="one-section">
            <div class="one-section-head">
                综合讨论区
            </div>
            <div class="one-section-container">
                <ul>
                    
                </ul>
                <div class="one-section-more">
                    More
                </div>
            </div>
        </div>
        <!-- Can be duplicated here -->
    </div>
    <div class="incubation-area">
        <div class="incubation-area-head">
            <p>Rust项目孵化器</p>
        </div>
        <div class="incubation-area-container">
            <div class="one-section">
                <div class="one-section-head">
                    Sapper
                </div>
                <div class="one-section-container">
                    <ul>
                        
                    </ul>
                    <div class="one-section-more">
                        More
                    </div>
                </div>
            </div>
            <!-- Can be duplicated here -->
        </div>
    </div>
</div>
{% endblock content %}

