{% extends "base.html" %}

{% block title %}
登录 - Rust语言中文社区
{% endblock title %}

{% block script %}
<script src="/js/login.js"></script>
{% endblock script %}

{% block content %}
<style>
    #login_form {
        display: block;
    }

    #register_form {
        display: none;
    }

    #reset_form {
        display: none;
    }

    a:hover {
        text-decoration: none;
        cursor: pointer;
    }

    a {
        color: -webkit-link;
        text-decoration: underline;
        cursor: auto;
    }

    .text-danger {
        color: red
    }
</style>

<div id="login_form">
    <b>Login</b>
    <br>
    <br>
    <form>
        <table border="0">
            <tbody>
            <tr>
                <td>account:</td>
                <td><input type="text" name="account" value="" size="20" autofocus="autofocus" placeholder="Email" id="login_account"></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input type="password" name="password" value="" size="20" placeholder="Password" id="login_password"></td>
            </tr>
            <label class="checkbox">
                <input type="checkbox" name="remember"/> Remember 90 day
            </label>
            </tbody>
        </table>
        <br>
        <input type="button" class="btn btn-success pull-right" id="login" value="Login "/>
    </form>
    <br/>
    <a id="forget">Forgot your password?</a><br/>
    <a id="register_btn" class="">Create an account</a>

    <br>
    <br>
</div>
<div id="register_form">
    <b>Create Account</b>
    <br>
    <br>
    <form>
        <table border="0">
            <tbody>
            <tr>
                <td>account:</td>
                <td><input type="text" name="acct" value="" size="20" placeholder="Email" id="register_account"></td>
                <td><strong>Please fill in the real and effective email address</strong></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input type="password" name="pw" value="" size="20" id="register_password"></td>
            </tr>
            <tr>
                <td>nickname:</td>
                <td><input type="text" id="nickname" class="required"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <input type="button" id="sign_up" value="Sign up "/>
        <input type="button" class="back_btn" value="Back"/>
    </form>
    <br>
    <br>
</div>
<div id="reset_form">
    <b>Reset your password</b>
    <br>
    <br>
    <form>
        <table border="0">
            <tbody>
            <tr>
                <td>account:</td>
                <td><input type="text" name="acct" value="" size="20" placeholder="Email" id="reset_account"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <input type="button" id="reset_btn" value="reset"/>
        <input type="button" class="back_btn" value="Back"/>
    </form>
    <br>
    <br>
</div>
{% endblock content %}
