{% extends "base.html" %}

{% block title %}
重置密码 - Rust语言中文社区
{% endblock title %}

{% block script %}
<script src="/js/reset_pwd.js"></script>
<link href="/css/reset_pwd.css" rel="stylesheet" />
{% endblock script %}

{% block content %}
<div class="change_password module">
    <h3>重置密码</h3>
    <hr/>
    <form>
        <div class="form-group">
            <label>新密码:</label><input id="new_password" type="password" maxlength="20">
        </div>
        <div class="form-group">
            <label>再次输入:</label><input id="re_password" type="password" maxlength="20">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success pull-right">提交</button>
        </div>
    </form>
</div>
{% endblock content %}
